
.ap-title
    line-height m(50)
    margin-bottom m(4)
.ap-image-list
    text-align center
    font-size m(12.5)
    line-height m(32.5)
    color #9
    overflow hidden
    img
        width m(60)
        height @width
        border-radius 50%
        vertical-align top
    li
        width 25%
        float left

button[disabled]
    background rgb(238,238,238)
    color #999

.foot-fixed-area
    #footer ul
        height auto
    .foot-btn-wrap
        padding m(10) 0
    textarea
        width 100%
        box-sizing border-box
        border 1px solid #d
        background #f8f8f8
        height m(278/2)
    .t-item
        &:first-child
            padding-right m(16)
        &:first-child
            padding-right m(16)
.ap-sign
    text-align center
    line-height m(30)
    padding-top m(70) 
    color #3
    img 
        width m(100)
        height @width
        border-radius 50% 
    strong
        font-size m(18) 
.red
    color #f00
    
.f-container #footer
    height auto 