//apply
.apply
    .apply-content
        padding m(10) m(10) 0
        .apply-info
            width 100%
            li
                width 100%
                border 1px solid #DDDDDD
                border-bottom 0 none
                font-size m(14)
                color #000000
                padding 0 m(10)
                height m(50)
                line-height m(50)
                label
                    .justify
                        display inline-block
                        width 2em
                input
                    border 0 none
                    &::-webkit-input-placeholder
                        color #939393
            .info-address
                border-bottom 1px solid #DDDDDD
                select
                    appearance none
                    width 74%
                    height m(48)
                    border 0 none
                    color #939393
                    option
                        color #000000
    .apply-button
        width 88.889%
        position fixed
        bottom m(12)
        left m(20)
        right m(20)
        color #FFFFFF
//报道列表
.apply-list
    .apply-list-item
        padding 0 m(10)
        li
            width 100%
            height m(80)
            padding m(17) 0
            border-bottom 1px solid #DDDDDD
            .apply-status-img
                display inline-block
                width m(45)
                height @width
                vertical-align middle
            .apply-details
                display inline-block
                margin-left m(15)
                vertical-align top
                .apply-details-name
                    color #000000
                    font-size m(15)
                .apply-details-notice
                    font-size m(12)
                    margin-top m(8)
                    .apply-status
                        margin-left m(5)
                    .apply-success
                        color #00A5D2
                    .apply-error
                        color #FD5F4F
            .apply-date
                display inline-block
                font-size m(10)
                color #939393
                float right
                margin-top m(18)
    .apply-list-add
        width m(25)
        height @width
        line-height @width
        margin-right m(12)
        display inline-block
        vertical-align middle
        img
            width 100%