.home-page
    background #f5
    .main
        .banner
            font-size 0
            img
                width 100%
        .entrance
            font-size 0
            margin-top m(-5)
            padding-bottom m(82)
            li
                width 33.33%
                text-align center
                margin-top m(20)
                position relative
                // height 100px
                > a
                  display block
                .img-wrap
                    display inline-block
                    position relative
                    width 50%
                    img
                        width 100%
                span
                    display block
                    text-align center
                    font-size m(14)
                    margin-top m(15)
    .message
        color #f
        height m(14)
        line-height @height
        border-radius m(7)
        display inline-block
        font-size m(12)
        background  #ff2626
        padding 0 m(5)
        position absolute
        top m(-1)
        right m(-5)
