.news-list
  padding 0 m(10)
  .news-list-item
    padding m(10) 0
    display block
    border-bottom 1px solid border-color
    font-size tiny-font-size
    .ico
      width 20%
      border-radius middle-radius
    .title-info
      width 77%
      .title
        width 70%
        overflow hidden
        color $black
        font-size small-font-size
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
    .con
      width 77%
      overflow-wrap break-word
      word-wrap break-word