.study-detail-page
  .study-object
    padding-top m(10)
    text-align center
    video
      width 100%
  .detail-content
    color text-color
    h2
      color $black
      font-size big-font-size
    .article-body
      font-size middle-font-size
      text-indent 2rem
  .footer-feedback
    .feedback
      .bar
        &.comment
          display none
        &.collect,
        &.rank
          width 50%
          padding-left 10%
          padding-right 10%
