extends ./layout/common
block title
  title gulp项目构建
block style
  +styles(['css/index.css'])
block body
  - var bodyClass = ''
append content
  .main 内容
append script
  +scripts(['js/jquery.min.js'])
  script.
    (function($, window, document){

    })(jQuery, window, document)