@import 'common'

$root = "../images/"
.main
  background url($root+"bg.jpg")
  background-size 100% 100%
  .tree
    z-index 100
    position absolute
    width 90%
    text-align center
    bottom 15%
    left 5%
    img
      width 100%
  .gold
    z-index 101
    position absolute
    width 90%
    text-align center
    bottom 15%
    left 5%
    img
      width 100%
  .gold2
    z-index 102
    position absolute
    width 90%
    text-align center
    bottom 15%
    left 5%
    img
      width 100%
  .monkey
    z-index 103
    position absolute
    width 50%
    text-align center
    bottom 15%
    left 5%
    img
      width 100%
  .footer-button
    position absolute
    bottom 0
    width 100%
    .activity-desc,
    .my-prize
      display inline-block
      margin-left 11%
      width 33.5%
      img
        width 100%
    .but-lottery
      width 40%
      margin-left 30%
      img
        width 100%
.shade
  z-index 1000
  display none
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0,0,0,0.4)
.con
  z-index 1006
  display none
  position absolute
  bottom 20%
  text-align center
  color #fddb00
  width 100%
  .prize1
    width 60%
  p
    font-size 1.2rem
    margin-bottom 0.5rem
  .big
    width 100%
    font-size 1.5rem
    margin-bottom 1rem