$animateTime = .2s
$animateFunc = ease-out

/**
 * SLIDE
 */
//前进: 动画主题+页面转换方式+转换动画类型
.page-forward-slide-enter,
.page-forward-slide-leave
  float left
  width 100%

.page-forward-slide-enter
  transform translate(100%, 0)
  background-color white
  position absolute
  z-index 99
  top 0
  width 100%
  height 100%
  box-shadow m(-10) 0 m(20) 0 rgba(0,0,0,.5)
  overflow hidden

.page-forward-slide-enter.page-forward-slide-enter-active
  transform translate(0, 0)
  transition transform $animateTime $animateFunc

.page-forward-slide-leave
  opacity 1
  position absolute
  width 100%
  height 100%
  left 0
  top 0
  z-index 0
  overflow hidden

.page-forward-slide-leave.page-forward-slide-leave-active
  opacity .5
  transition: opacity $animateTime $animateFunc

//后退
.page-back-slide-enter,
.page-back-slide-leave
  float left
  width 100%

.page-back-slide-enter
  transform translate(0, 0)
  background-color white
  position absolute
  z-index 99
  top 0
  width 100%
  height 100%
  overflow hidden
  opacity 0

.page-back-slide-enter.page-back-slide-enter-active
  // transform translate(0, 0)
  opacity 1
  transition opacity $animateTime $animateFunc

.page-back-slide-leave
  opacity 1
  position absolute
  transform translate(0, 0)
  width 100%
  height 100%
  left 0
  top 0
  z-index 1000
  box-shadow m(-10) 0 m(20) 0 rgba(0,0,0,.5)
  overflow hidden

.page-back-slide-leave.page-back-slide-leave-active
  transform translate(100%, 0)
  opacity 1
  transition: transform $animateTime $animateFunc

/**
 * FADE
 */
//前进
$animateTime = .001s
.page-forward-fade-enter,
.page-forward-fade-leave
  position absolute
  left 0
  top 0
  width 100%
  height 100%

.page-forward-fade-enter
  opacity 0
  background-color white
  z-index 99
  width 100%
  height 100%
  // box-shadow m(-10) 0 m(20) 0 rgba(0,0,0,.5)
  overflow hidden

.page-forward-fade-enter.page-forward-fade-enter-active
  opacity 1
  transition opacity $animateTime $animateFunc

.page-forward-fade-leave
  opacity 1
  z-index 0
  overflow hidden

.page-forward-fade-leave.page-forward-fade-leave-active
  opacity 0
  transition: opacity $animateTime $animateFunc

//后退
.page-back-fade-enter,
.page-back-fade-leave
  position absolute
  left 0
  top 0
  width 100%
  height 100%

.page-back-fade-enter
  opacity 0
  background-color white
  z-index 99
  width 100%
  height 100%
  // box-shadow m(-10) 0 m(20) 0 rgba(0,0,0,.5)
  overflow hidden

.page-back-fade-enter.page-back-fade-enter-active
  opacity 1
  transition opacity $animateTime $animateFunc

.page-back-fade-leave
  opacity 1
  z-index 0
  overflow hidden

.page-back-fade-leave.page-back-fade-leave-active
  opacity 0
  transition: opacity $animateTime $animateFunc
