// 项目通用样式
@import './libs/rawcss'
@import './setting'

html
    font-size base-font-size
    font-family base-font-family
    color text-color
    height 100%
body
  font-size m(15)
  height 100%
  background-color white
  user-select none
  overflow hidden
h1,
h2,
h3,
h4,
h5,
h6,
em,
b
  font-weight normal

em, i
  font-style normal
*
	box-sizing border-box

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
    color placeholder-color

input:-moz-placeholder,
textarea:-moz-placeholder
    color placeholder-color

input::-moz-placeholder,
textarea::-moz-placeholder
    color placeholder-color

input:-ms-input-placeholder,
textarea:-ms-input-placeholder
    color placeholder-color

ul,
li
	list-style none
a
  color text-color
  text-decoration none

img,
table
  width 100%
*
  cursor pointer
em
	font-style normal

input,
button
  outline 0
  -webkit-appearance none
  border-radius 0
  background-color white
  box-shadow none
input[type="radio"]
  appearance none
  border 1px solid border-color
  display inline-block
  width m(18)
  height m(18)
  vertical-align middle
  border-radius 50%
  position relative
  &:checked
    &:after
      content ''
      position absolute
      width m(8)
      left m(4)
      top m(4)
      height @width
      display block
      background-color $red
      border-radius 50%

.options-item
  margin-left m(32)
  &:nth-child(1)
    margin-left 0
.options-input
  margin-right m(10)


input[type="text"]
input[type="password"]
  border 1px solid border-color
  padding m(11) 0



#header
  position relative
  z-index 999
  background-color $red
  padding-top m(20)
#main
  overflow auto
  position relative
#footer
  height m(50)
.android-legend
  #header
    padding-top 0






//页面有页脚菜单
// .has-foot-menu,
// .has-bottom-foot-input
//   #main
    // height 81.6vh

.slider
  font-size 0

.full-width-button
  width 100%
  background-color #fff
  border 1px #fff solid
  font-size big-font-size
  color white
  height m(44)
  line-height m(40)
  display block
	line-height m(40)
	text-align center
	box-sizing border-box
.full-width-button.-blue
  background-color $blue
.full-width-button.-red
  &:active
    background-color red
    color white
  background-color $red


.full-width-button
	&.-outline
		background-color transparent
	&.-outline
		&.-blue
			background-color #fff
			color $blue
			text-align center
			border 0
			&:before
				position absolute
				margin-top m(12)
				content ''
				width big-font-size
				height @width
				background url("public/images/icon-add.png") no-repeat
				background-size 100%
			span
				padding-left m(7 + 17)
		&.-red
			border-color $red
			color $red

.full-width-button.-outline
	background-color transparent

.one-button-page
  .middle-button
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
    border 0
    width m(200)
    background-color $red
    color white
    font-size m(20)
    h m(56)
    box-shadow 0 m(4) 0 0 #f2
    text-align center
    display inline-block



.full-width-button.-outline.-red
	border-color $red
	color $red

.normal-button
  padding 0 m(12)
  h m(35)
.red-button
  border 1px solid $red
  background-color white
  &:active
      background-color $red

.gray-button
  border 1px solid #dbdbe1
  background-color white
  &:active
      background-color #ededf4
  &.-red-text
    color $red

/*
.middle-button

.small-button
.tiny-button*/


.single-button
  h m(30)
  text-align center
  width m(125)
  font-size middle-font-size
  display inline-block
  color white
  border-radius m(15)
  &.-red
    background-color $red
    background-color $red

.page-main
  width 82.03125%
  background-color white
  margin m(40) auto 0 auto

//popbox
.popbox-mask
  position fixed
  left 0
  top 0
  background-color rgba(0,0,0,.2)
  width 100%
  height 100%
  z-index 1000
.popbox-body
  width 30%
  left 50%
  top 50%
  margin-left -15%
  position fixed
  background-color white

//loading
.flash-tip
  opacity 1
  .popbox-body
    background-color transparent
.before-ajax
  #main
    opacity 0
    transition opacity .5s


//List
.list-item
  position relative
  overflow hidden
.list-item-content
  position relative
  z-index 10
  &.-transition
    transition transform .2s
.list-item-action
  position absolute
  right 0
  top 0
  z-index 5

//dropmenu
.dropmenu
  position relative
  display inline-block
.dropmenu-list
	display none
	position absolute
	top m(40)
	left -1px
	z-index middle-z-index
	background white
.dropmenu-list
  overflow auto
  max-height m(300)
  background-color #fd

.dropmenu-list-item
	border-top 1px solid #d9
	h m(44)
	text-indent m(20)
  background #fd
	&.is-selected
		background #f5
.dropmenu-list-item
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width 14.3709375vw

.dropmenu.is-open > .dropmenu-list
	display block

.dropmenu-mask
	position fixed
	height 100%
	width 100%
	display none
	z-index middle-z-index

.dropmenu.is-open > .dropmenu-mask
	display block

.dropmenu-head
  position relative
  border 1px solid border-color
  z-index 999999999
  background #fd
  i
    background url($root + 'drop-arrow.png') center no-repeat
    display inline-block
    vertical-align middle
    width m(22)
    height @width
    position absolute
    right 0
    top m(10)
    right m(10)
  span
    display block
    padding m(12) 0
    width 83%
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


.dropmenu
  margin-right 1.5625vw
  width 14.57609375vw
  background-color white
  text-indent m(13)
.dropmenu-list
  min-width 14.58609375vw
  border 1px solid border-color
  top m(44)
  border-top 0
  left 0


.row-input
  text-indent m(10)
  &[readonly]
    text-indent 0
  &.-disabled
    text-indent 0

.image-wrap
  width 30.556%
  font-size 0
  > img
    width 100%


.button-component
    width 100%
    h m(45)
    color #FFFFFF
    font-size m(15)
    background-color #FF5900
    border 0 none
    border-radius m(3)
    display inline-block
    text-align center

.head-bar
  background-color #f00
  a.head-bar-right
    color #FFF

.head-bar-wrap
  position relative
  h m(45)
  .head-bar-title
    color white
    text-align center
    font-size m(18)
  .back
    display block
    position absolute
    width m(50)
    height m(50)
    background url($root + 'back.png') center no-repeat
    background-size 50%
  .head-bar-right
    position absolute
    right 0
    top 0
  .right-comp
    width m(50)
    height m(50)
.pay-record
  display block
  padding 0 m(12)

.comment-num
  background url($root + 'comment.png') center no-repeat
  background-size 70%
  text-align center
  border-radius m(15)
  width m(50)
  height m(50)
  a
    width m(50)
    height m(50)
    line-height m(48)
    display block
    z-index 1000
.article-list
  padding m(10)
.article-list-item
  display block
  border-bottom 1px solid border-color
  padding-bottom m(10)
  margin-bottom m(10)
  .article-list-thumb
    width 32.35294117647059%
  .article-list-info
    width 65.44117647058824%
    > h3
      font-size #32
      font-size m(14)
      margin-bottom m(10)
    > p
      font-size m(13)
      color #9
      line-height 1.6
  .article-list-foot
    color #9
    font-size m(10)
//- 评论列表
.comment-list
  padding 0 m(10)
  .comment-list-item
    display block
    border-bottom 1px solid border-color
    padding m(10) 0
    position relative
    .comment-list-thumb
      width 14.7%
      img
        width m(48)
        height @width
        border-radius m(24)
    .comment-list-info
      width 85.3%
      padding-left m(10)
      .username
        color #4d
        font-size m(12.5)
      .mktime
        color #9
        font-size m(10)
        margin-top m(10)
      .comment-content
        margin-top m(10)
        padding-right m(60)
        color #9
        font-size m(12.5)
        overflow-wrap break-word
        word-wrap break-word
      .con-img-box
        position relative
        width 25%
        margin-right 3%
        margin-top 1rem
        overflow hidden
        .con-img-img
          position absolute
          left 0
          min-width 100%
    .praise-box
      position absolute
      top 50%
      right 0
      display block
      height m(48)
      width @height
      margin-top m(-24)
    .praise
      position absolute
      top m(12)
      right m(12)
      display block
      height m(25)
      width @height
      border-radius 50%
      border 1px solid border-color
      background url($root + 'praise.png') no-repeat 0 0
      background-size 100%
      i
        font-size m(10)
        position absolute
        bottom m(-17)
        display block
        width 100%
        text-align center
      &.praised
        border 1px solid #ff7a33
        background #ff7a33 url($root + 'praise.png') no-repeat 0 m(-25)
        background-size 100%
        i
          color #ff7a33
//详情
.detail-content
  padding m(12) m(10)
  background-color #FFFFFF
  border-bottom 1px solid #dddddd
  > h2
      font-size m(17)
      font-weight bold
      color $black
  .detail-info
      position relative
      border-bottom 1px solid #dddddd
      font-size m(10)
      margin-top m(10)
      padding-bottom m(7)
  .detail-info>span:first-child
      margin-right m(10)
  .detail-info>span:nth-child(2)
      margin-right m(10)
  .points
      position absolute
      right 0
      top 0
      .points-img
          width m(20)
          height m(10)
          vertical-align: middle;
          margin-right m(6)
      .points-num
          vertical-align middle
          em
            color #e5014b
      .item-sum
        vertical-align middle
        padding-right m(18)
        background url('public/images/icon-user.png') no-repeat right
        background-size 25%
        margin-right m(10)
  .detail-img
      width 100%
      font-size 0
      margin-top m(10)
  > h3
      font-size m(13)
      margin-top m(12)
      margin-bottom m(5)
  > p
      font-size m(13)
      color #666666
      text-indent 2em
      line-height m(18)

.article-body
  margin-top m(10)
  overflow-wrap break-word
  word-wrap break-word
  img
    width 80% !important
    display block
    margin m(10) auto
//底部输入框组件
.c-foot-input
  position fixed
  bottom 0
  z-index 10
  border-top 1px solid #b6
  width 100%
  background-color #f5
  .main-panel
    padding m(7) 0
    text-align center
    > input
      border 1px solid #c
      border-radius m(2.5)
      h m(35)
      line-height m(35)
      width 69%
      padding m(5) 0
      margin 0 3.75%
      background-color white
    > button
      display inline-block
      width m(29)
      height @width
      border 1px solid #c
      border-radius 50%
      background-color #f5
    > textarea
      width 80%
      resize none
      outline 0
      border 1px solid border-color
      float left
      margin-left m(12)
      margin-bottom m(12)
      padding m(5) 0
    > input
    > button
      vertical-align middle
    .addons-switcher
      background url($root + 'addons-switcher.png') center no-repeat
      background-size 60%
      &.hidden
        display none
    .input-mode-switcher
      background url($root + 'input-mode-switcher.png') center no-repeat
      background-size 60%
      &.-hide
        display none
    .input-mode-send
      border 0
      width auto
      color $red
      &.-hide
        pointer-events none
        color #ddd4d4
  .foot-input-addons
    position relative
    width 100%
    height m(100)
    text-align center
    border-top 1px solid #c
    color #ddd4d4
    transition height .5s
    &.hidden
      display none
    &.-hide
      height 0
    .bar
      width 33.3%
      padding m(10) 0
      color $black
      float left
      text-align center
      font-size middle-font-size
      img
        width m(60)
      span
        width 100%
        display block
//-文章排序列表
.rank-list
  width 100%
.rank-list-item
  display block
  padding-top m(10)
  background-color white
  .item-object
    width 100%
    overflow hidden
    text-align center
    padding 0 m(10)
    .item-img-box
      position relative
      overflow hidden
      img
        width 100%
        &.item-img
          position absolute
          left 0

    video
      width 100%
  .item-info
    padding m(7) m(10)
    font-size tiny-font-size
    .item-title
      font-size middle-font-size
      // text-indent 2em
      color $black
    .item-foot
      height m(25)
      line-height m(30)
      .item-origin
        margin-left m(5)
      .item-sum
        padding-right m(18)
        background url('public/images/icon-user.png') no-repeat right
        background-size 25%
        margin-right m(10)
      .item-integral
        background-size 60%
        em
          color $red
      .n-study,
      .y-study
        width m(70)
        height m(24)
        display block
        border-radius m(12)
        background-color #4c7fff
        line-height m(24)
        font-size middle-font-size
        color #fff
        text-align center
        margin-left m(10)
      .y-study
        background-color #ff5900
  hr
    width 100%
    height m(10)
    margin 0
    background-color #f5f5f5
    border-left 0
    border-right 0
    border-top 1px solid border-color
    border-bottom 1px solid border-color
//底部导航
.dock
  font-size 0
  border-top 1px solid #d9
  position fixed
  bottom 0
  width 100%
  background #f
  li
    width 33.33%
    text-align center
    padding  m(5) 0
    color #b3
    a
      display block
    .img-view
      width m(22)
      height @width
      overflow hidden
      display inline-block
      background-position 0 100%
      &.branch
        background-image url('public/images/ww_34.png')
        background-size 100%
      &.info
        background-image  url('public/images/ww_35.png')
        background-size 100%
      &.me
        background-image  url('public/images/ww_36.png')
        background-size 100%
    &.current
      .img-view
        background-position 0 0
      span
        color #ff2626
    span
      display block
      text-align center
      font-size m(14)
      margin-top m(5)

//iscroll
.scroll-wrapper
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;

.scroller
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
.iScrollVerticalScrollbar
  width m(3) !important
.iScrollIndicator
  border none !important

.scroller-pull-down
  text-align center
  display inline-block
  position absolute
  width 100%
  z-index -1
  top m(-30)
  margin 0
  h m(30)
.scroller-pull-down
  &.loading
    height m(100)
    background url($root + 'loading.gif') center no-repeat
    background-size m(100)


.scroller-pull-up
  text-align center
  display inline-block
  width 100%
  margin 0
  h m(30)


//-上传图片样式
.photograph
  .popbox-body
    position fixed
    top auto
    left 0
    bottom 0
    width 100%
    margin-left 0
    background-color transparent
    text-align center
    font-size big-font-size
    color $black
    .camera-box
      position fixed
      bottom 0
      width 100%
      height 0
      background-color #fff
      transition-property height
      transition-duration .5s
      .dcim,
      .photograph,
      .cancel
        height m(50)
        line-height m(50)
        border-top 1px solid border-color
        &.forbid
          pointer-events none
          color text-color
      .cancel
        border-top m(7) solid border-color
      &.f-show
        height m(150)
//foot-menu
.foot-menu
  height 12.8vh
  position relative
  z-index 999

  border-top 1px solid border-color
  > li
    display inline-block
    width 25%
    font-size 0
    color #3
    text-align center
    padding-top m(5)
    > img
      width m(21)
      display inline-block
      background url($root + 'foot-menu.png') 0 100% no-repeat
      background-size 400%
      margin-bottom m(5)
    > span
      display block
      raw-font-size m(12)
      text-align center
    &:nth-child(2)
      > img
        background-position 33.333333333% 100%
    &:nth-child(3)
      > img
        background-position 66.666666666% 100%
    &:nth-child(4)
      > img
        background-position 100% 100%
    &.is-active
      color #fe0000
      > img
        background-position-y 0

//portal-menu
.portal-menu
  .port-menu-item
    display inline-block
    width 33.33333%
    text-align center
    font-size 0
    padding m(10) 0
    color green
    position relative
    img
      background-position center
      background-repeat no-repeat
      background-size 50%
      border-radius 50%
      margin-bottom m(8)
      position relative
      z-index 1

    > span
      display block
      raw-font-size m(14)
      color #3

    .img-wrap
      display inline-block
      width 50%
      position relative
      i
        border-radius m(10)
        z-index 5
        background-color $red
        position absolute
        right 0
        padding m(2) m(5)
        color white

//-底部评论、收藏、排行
.footer-feedback
  position absolute
  height 5rem
  z-index 999
  .d-hide
    display none
  .feedback
    z-index: 11;
    position fixed
    bottom 0
    width 100%
    border-top 1px solid border-color
    background $garybg
    height 5rem
    line-height 2rem
    transition-property height
    transition-duration .5s
    .bar
      width 33.3%
      padding m(10)
      border-left 1px solid border-color
      text-align center
      img
        width 20%
        margin-left 40%
        display block
        &.collect
          background url($root + 'collect0.png') center no-repeat
          background-size 100%
        &.collect1
          background url($root + 'collect1.png') center no-repeat
          background-size 100%
    &:first-child
      padding-left 0.1%
      border-left 0
    &.f-hide
      height 0
      transition-property height
      transition-duration .5s
  .comment-panel,
  .comment-panel2
    position fixed
    left 0
    bottom 0
    background-color rgba(0,0,0,0.2)
    width 100%
    z-index 2
    &.comment-panel
      height 100%
    &.f-hide
      height 0
    .camera-box
      position fixed
      bottom 0
      width 100%
      height m(150)
      background $garybg
      transition-property height
      transition-duration .5s
      z-index 13
      &.f-hide
        height 0
        transition-property height
        transition-duration .5s
    .panel,
    .panel2
      position fixed
      bottom 0
      width 100%
      padding m(6)
      background $garybg
      transition-property height
      transition-duration .5s
      z-index 13
      &.panel
        height 18rem
      &.f-hide
        height 0
        transition-property height
        transition-duration .5s
    .bar
      font-size big-font-size
      color $black
      padding m(10)
      &.cancel
        position absolute
        left 0
      &.title
        text-align center
        width 100%
      &.send
        position absolute
        right 0
        color $red
        border 0
        background-color transparent
      &.forbid
        pointer-events none
        color text-color
    .text
      width 100%
      height m(150)
      padding-top m(5)
      resize none
      outline 0
      border 1px solid border-color
    .input
      margin-top 0.5rem
      height m(30)
  .button-hide
    display none
  .cancel-box
    width 100%
    height 100%

.rank-portal
  > span
    color white
    padding m(10)


.news-detail-page
  .content-wrap
    padding m(15)
    padding-top 0
  .detail-header
    border-bottom 1px solid $red
    padding m(10) 0
    h3.article-title
      text-align center
      color $red
    > p
      text-align center
      margin-top m(10)
      color #3
      font-size m(12)
  .body
    line-height 1.7
//图片放大
.slider-picture
  .slider
    position fixed
    left 0
    top 0
    width 100%
    height 100%
    z-index 1009
    background-color #000000
    .slick-slider
      height 100%
    .slick-list
      position relative
      overflow hidden
      display block
      height 100%
      .slick-track
        position relative
        left 0
        top 0
        zoom 1
        display flex
        flex-direction row
        align-items center
        height 100%
        .slick-slide
          float left
      .slick-prev,
      .slick-next
        display none
    ul.slick-dots
      position absolute
      bottom 5%
      width 100%
      text-align center
      li
        width m(10)
        height m(10)
        margin m(5)
        border-radius m(5)
        background #404040
        display inline-block
        button
          display none
        &.slick-active
          background #ffffff

//slider
.pic-slider
  .slick-slider
    height 28.125vh
    position relative
  .slick-list
  	overflow hidden
  .slider-image
    height 28.125vh
  .slick-slide
  	float left
  .slider-link
  	display block
  	font-size 0
  .slider-image
  	width 100%
  .slick-dots
    text-align center
    position absolute
    width 100%
    bottom m(10)
    > li
      display inline-block
      margin 0 m(3)
      button
        background-color white
        border 0
        display inline-block
        width m(10)
        height m(10)
        border-radius 50%
      &.slick-active
        button
          background-color red


.hammer
  .popbox-body
    width 100%
    height 100%
    left 0
    top 0
    margin-left 0
