/**
 * 公共变量
 */

base-unit           = 'rem'

//颜色
$blue               = #41a7e9
$red                = #fe0100
$yellow             = #ff9c03
text-color          = #999999
placeholder-color   = #c7c7d1
light-text-color    = #bbbbc5
$black              = #4d4d4d
$bright             = #5b6e98
$garybg             = #f3f3f5



title-color         = #3c

border-color        = #d9
divide-line-color   = #f0f0f5

bg-color            = #f8f8fb


//左右边距
gap                 = m(20)

//底部编辑
bottom-margin       = m(15)

//透明度
$opacity             = 0.2

//圆角
big-radius          = m(10)
middle-radius       = m(5)
small-radius        = m(4)
tiny-radius         = m(2)

//字体
big-font-size       = m(17)
middle-font-size    = m(15)
small-font-size     = m(14)
tiny-font-size    = m(12)

$root = 'public/images/'
