//- 页面底部
.links
    a(href="#") 关于我们
    i |
    a(href="#") 联系我们
    i |
    a(href="#") 人才招聘
    i |
    a(href="#") 商家入住
    i |
    a(href="#") 手机商城
    i |
    a(href="#") 友情链接
    i |
    a(href="#") 法律声明
    i |
    a(href="#") English Site
p.copyright Copyright &copy; 2014 - 2015 微波超市 
    a(href="/") mwstore.com
    | 版权所有
.gov
    a(href="#")
        img(src="image/gov1.jpg", alt="")
    a(href="#")
        img(src="image/gov2.jpg", alt="")
    a(href="#")
        img(src="image/gov3.jpg", alt="")
    a(href="#")
        img(src="image/gov4.jpg", alt="")