footer
    .main
        .articles.clearfix
            .fl.guide
                img.fl.icon(src="image/1.gif", alt="")
                div.fl
                    h2 购物指南
                    ul.clearfix(style="width:106px;")
                        li
                            a(href="#") 购物流程
                        li.even
                            a(href="#") 会员介绍
                        li
                            a(href="#") 会员介绍
            .fl.pay-delivery
                img.fl.icon(src="image/1.gif", alt="")
                div.fl
                    h2 支付配送
                    ul
                        li
                            a(href="#") 在线支付
                        li
                            a(href="#") 公司转账

            .fl.sale-support
                img.fl.icon(src="image/1.gif", alt="")
                div.fl
                    h2 售后服务
                    ul
                        li
                            a(href="#") 售后政策
                        li
                            a(href="#") 返修退货
            .fl.problems
                img.fl.icon(src="image/1.gif", alt="")
                div.fl
                    h2 常见问题
                    ul
                        li
                            a(href="#") 注册登陆
                        li
                            a(href="#") 无法登陆
                        li
                            a(href="#") 忘记密码
            .fl.follow
                img(src="image/1.gif", alt="", data-original="image/qr-code.png")
                p 关注微波超市公众号

        include ./bottom