//- top
.top
    .main.clearfix
        .fl
            a.fav(href="javascript:;") 收藏微波超市
            a.lang.en English
            i.split |
            a.lang.zh.active 中文
            span(style="margin-left:10px") 货币
            a.currency.dollar $
            a.currency.yuan.active ￥
        .fr
            a(href="login.html") 请登录
            i.split |
            a(href="register.html") 免费注册
            a(href="orders.html") 我的订单
            span.follow#top-follow
                a(href="javascript:;") 关注微波超市
                .qr-code
                    img(src="image/qr-code.png", alt="")
                    | 关注微波超市
            a.customer-service(href="#") 在线客服
            span.phone 400-887-2003